<form class="filters-bar">
  <div class="filters-bar-category">
    <div class="filters-bar-category__item" (click)="handleCustomSelect()" [ngStyle]="isCustomSelected && {'color': '#08E8DE'}">Customs</div>
    <div class="filters-bar-category__item" (click)="handleSceneSelect()" [ngStyle]="isSceneSelected && {'color': '#08E8DE'}">Scene</div>
    <div class="filters-bar-category__item" (click)="handleLightSelect()" [ngStyle]="isLightSelected && {'color': '#08E8DE'}">Light</div>
  </div>
  <div class="select filters-bar-select">
    <select>
      <option>SORT BY</option>
      <option>POPULAR</option>
      <option>NAME</option>
      <option>NEW</option>
    </select>
  </div>
</form>
