<div 
  class="artist-card"
  [class.artist-card--visible]="!isBeingHovered"
  [style.backgroundImage]="'url(' + artist.cover + ')'"
></div>

<div 
  class="artist-card"
  [class.artist-card--visible]="isBeingHovered"
  [style.backgroundImage]="'url(' + artist.avatar + ')'"
 ></div>
  
<div 
  class="artist-card__name-wrapper"
  [class.artist-card__name-wrapper--visible]="isBeingHovered"
>
  <div class="artist-card__name accent-name">
    {{ artist.firstName }} {{ artist.lastName }}
  </div>
  <div class="artist-card__specialization">
    {{ artist.specialization }}
  </div>
</div>