.navbar {
  position: fixed;
  width: 100%;
  background: transparent;
}

.navbar-end {
  padding: 2.5em 0;
  a{
    color: #ffffff;
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
  }

  a:hover{
    color: #08E8DE;
    background-color: transparent;
  }
}

.navbar-item, .navbar-link {
  color: #fff;
  cursor: pointer;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0 1em;
  text-transform: uppercase;

  img {
    max-height: 6rem;
  }


}
