<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <!-- LOGO -->
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/home']">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['/home']">
          Home
        </a>

        <a class="navbar-item" routerLink="/artists">
          Artists
        </a>

        <a class="navbar-link is-arrowless" routerLink="/about">
          About
        </a>
        <!-- USER DROPDOWN -->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            User
          </a>
        
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Profile
            </a>
            <a class="navbar-item">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
