<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <!-- LOGO -->
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/home']">
        <img src="../../../../assets/images/logo.png">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['/home']">
          Home
        </a>

        <a class="navbar-item" routerLink="/artists">
          Artists
        </a>

        <a class="navbar-item" routerLink="/about">
          About
        </a>
        <!-- USER DROPDOWN -->
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            User
          </a>
        
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Profile
            </a>
            <a class="navbar-item">
              Logout
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </nav>
</header>
