<section>
  <div class="about__hero-section">
    <h1>
      Learn more about us
    </h1>
  </div>

  <div class="about__description">
    <p>
      Scenography is a theatrical and decorative art of that
      the task is to fill out the scene and provide a visual setting
      theatrical performance. Scenography is scenic scenery, lighting,
      costumes that interact with each other. Or, by definition, theorist
      scenic art by Mitsuri Ishi (Japan), scenography is "visual."
      stage directing ".
    </p>

    <p>
      The Scenography Gallery is a place for people who are interested in
      scenic design. As for people of all creative professions, and for those who like it
      find out how the show is born.
      Our goal is to promote a theatrical culture to the viewers
      began to look at the show more extensively. Scenography as such is capable of creating
      theater space, which operates autonomously and is filled with signs and values
      depending on the person who contemplates her, or joins her. So for us
      it is important to pay attention to the scenographer and scenography, their place in the theater
      and a range of opportunities.
    </p>

    <p>
      We invite scenographers from all over Ukraine to
      To familiarize you with the most diverse samples of Ukrainian
      scenographic art. In addition, we conduct lectures devoted to
      figures of well-known scenographers and organize various master-
      classes. You can find out about all the events in advance on our page
      Facebook and the site of the gallery. Never doubt whether to take with you
      kids! We do not have any age restrictions. We often use it
      interactive techniques for interacting with exposure, because interaction is this
      the best way to get to know, and above all we want to give you exactly that!
      We also use video and audio materials to better disclose
      the intention of the author.
    </p>

    <p>
      To date, the Gallery of Scenography is the only one
      project on the territory of Ukraine. We are actively cooperating with talented people
      theatrical artists, each of which brings something new to
      our project. Working with them, we create an online database
      Ukrainian scenographers. Since 2017, we have been cooperating with V. Kaufman,
      V. Stetskovich, B. Polischuk, A. Horoshkom, A. Bilozub, A. Turutoyu-
      Prasolov, V. Karashevsky, P. M. Virz (Germany), H. Kozak,
      T. Chuhri and A. Baytenova.
    </p>
  </div>

  <sc-contacts></sc-contacts>
</section>
