<section class="contact__wrapper">
  <section class="contact__items">  
    <h2>Contact Us</h2>

    <div class="contact__item">
      <h3>Email:</h3>
      <div class="contact__item-value">agov.info@gmail.com</div>
    </div>
  
    <div class="contact__item">
      <h3>Phone:</h3>
      <div class="contact__item-value">+380969454046</div>
    </div>
  
    <div class="contact__item">
      <h3>Adress:</h3>
      <div class="contact__item-value">Lviv, st. Gorodok 36, Scenery Gallery</div>
    </div>
  
    <div class="contact__item">
      <h3>Facebook:</h3>
      <div class="contact__item-value">www.facebook.com/scenography.gallery/</div>
    </div>
  </section>
  
  <div class="about__img-wrapper">
    <img class="about__img" src="../../../../assets/images/contact_us.svg" alt="Contact Us">
  </div>
</section>
