:host {
  display: block;
  padding: 50px;
  background-color: #08e8de;
}

.contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__item {
  margin-bottom: 15px;

  h3 {
    opacity: .8;;
  }
}

.contact__item-value {
  font-weight: bold;
}

.about__img-wrapper {
  flex-basis: 400px;
  max-width: 400px;
  margin-left: 100px;
}

