<header class="home-header">
  <div class="home-header-video">
    <video src="../../assets/video/bg.mp4"
           autoplay="true"
           loop="true">
    </video>
  </div>
  <div class="home-header-overlay"></div>
  <div class="home-header-content">
    <h1>Welcome to Scenography</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Id temporibus perferendis necessitatibus numquam amet impedit explicabo? Debitis quasi ullam aperiam!
    </p>
    <a class="btn" href="home#auth">Join Us</a>
  </div>
</header>
