<header class="home-header">
  <div class="home-header-video">
    <video src="../../assets/video/vadik2.mp4"
           autoplay="true"
           loop="true">
    </video>
  </div>
  <div class="home-header-overlay"></div>
  <div class="home-header-content">
    <h1>Gallery of
      Scenography</h1>
    <p>
      We create the space  as we want to see it
    </p>
  </div>
  <div class="home-header-pointer">
    <a href="home#auth"
       class="arrow bounce">
      <svg width="65"
           height="34"
           viewBox="0 0 65 34"
           fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L32.5 32.5L64 1" stroke="white"/>
      </svg>
    </a>
  </div>
</header>
