<section id="auth" class="auth">
  <section class="user">
    <div class="user_options-container">
      <div class="user_options-text">
        <div class="user_options-unregistered">
          <h2 class="user_unregistered-title">Don't have an account?</h2>
          <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
          <button class="user_unregistered-signup"
                  id="signup-button"
                  (click)="handleSignupForm()">
            Sign up</button>
        </div>

        <div class="user_options-registered">
          <h2 class="user_registered-title">Have an account?</h2>
          <p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
          <button class="user_registered-login"
                  id="login-button"
                  (click)="handleLoginForm()">
            Login</button>
        </div>
      </div>

      <div #userOptionsForms class="user_options-forms" id="user_options-forms">
        <div class="user_forms-login">
          <h2 class="forms_title">Login</h2>
          <form class="forms_form" [formGroup]="loginForm" (ngSubmit)="handleLoginAuth()">
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input class="input forms_field-input"
                       required
                       type="email"
                       placeholder="Email"
                       [ngStyle]="(isAuthFormSubmitted && login.email.errors) && {'border-color': '#f44336'}"
                       formControlName="email"/>
              </div>
              <div class="forms_field">
                <input class="input forms_field-input"
                       required
                       type="password"
                       placeholder="Password"
                       [ngStyle]="(isAuthFormSubmitted && login.password.errors) && {'border-color': '#f44336'}"
                       formControlName="password"/>
              </div>
            </fieldset>
            <div class="forms_buttons">
              <button type="button" class="forms_buttons-forgot">Forgot password?</button>
              <input type="submit" value="Log In" class="forms_buttons-action">
            </div>
          </form>
        </div>
        <div class="user_forms-signup">
          <h2 class="forms_title">Sign Up</h2>
          <form class="forms_form" [formGroup]="signupForm" (ngSubmit)="handleSignupFormAuth()">
            <fieldset class="forms_fieldset">
              <div class="forms_field">
                <input class="input forms_field-input"
                       required
                       type="text"
                       placeholder="Full Name"
                       [ngStyle]="(isSignupFormSubmitted && signup.name.errors) && {'border-color': '#f44336'}"
                       formControlName="name"/>
              </div>
              <div class="forms_field">
                <input class="input forms_field-input"
                       required
                       type="email"
                       placeholder="Email"
                       [ngStyle]="(isSignupFormSubmitted && signup.email.errors) && {'border-color': '#f44336'}"
                       formControlName="email"/>
              </div>
              <div class="forms_field">
                <input class="input forms_field-input"
                       required
                       type="password"
                       placeholder="Password"
                       [ngStyle]="(isSignupFormSubmitted && signup.password .errors) && {'border-color': '#f44336'}"
                       formControlName="password"/>
              </div>
            </fieldset>
            <div class="forms_buttons">
              <input type="submit" value="Sign up" class="forms_buttons-action">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
