
.auth {
  height:100vh;
  /**
   * General variables
   */
  $bdrds: 3px;

  $white: #fff;
  $black: #000;
  $gray: #ccc;
  // primary
  $salmon: #000;
  $smoky-black: rgba(#222222, .85);

  $ff: 'Montserrat', sans-serif;
  $ff-body: 12px;
  $ff-light: 300;
  $ff-regular: 400;
  $ff-medium: 500;


  /**
   * General configs
   */
  body {

    font-family: $ff;
    font-size: $ff-body;
    line-height: 1em

  }
  button {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;

    input {
      background-color: transparent;
      padding: 0;
      border: 0;
      outline: 0;
    }

  }
  &[type="submit"] {
    cursor: pointer
  }

  &::placeholder {
    font-size: .85rem;
    font-family: $ff;
    font-weight: $ff-light;
    letter-spacing: .1rem;
    color: $gray;
  }


    /**
     * Bounce to the left side
     */
  @keyframes bounceLeft {
    0% {
      transform: translate3d(100%, -50%, 0)
    }

    50% {
      transform: translate3d(-30px, -50%, 0)
    }

    100% {
      transform: translate3d(0, -50%, 0)
    }
  }
    /**
     * Bounce to the left side
     */
  @keyframes bounceRight {
    0% {
      transform: translate3d(0, -50%, 0)
    }

    50% {
      transform: translate3d(calc(100% + 30px), -50%, 0)
    }

    100% {
      transform: translate3d(100%, -50%, 0)
    }
  }

    /**
     * Show Sign Up form
     */
  @keyframes showSignUp {
    100% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0)
    }
  }

    /**
     * Page background
     */
  .user {
    height: 100vh;
    width: 100%;
    background: url('../../../../assets/images/aboutcover.jpg') no-repeat center;
    background-size: cover;
    &_options-container {
      position: relative;
      width: 80%;
      margin: 0 auto;
      padding-top: 30vh;
    }
    &_options-text {
      display: flex;
      justify-content: space-between;
      width: 84%;
      margin: 0 auto;
      background-color: rgba(34, 34, 34, 0.35);
      border-radius: $bdrds;
    }
  }


    /**
     * Registered and Unregistered user box and text
     */
  .user_options-registered,
  .user_options-unregistered {
    width: 50%;
    padding: 40px 45px;

    color: $white;
    font-weight: $ff-light
  }

  .user_registered-title,
  .user_unregistered-title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: normal;
    //line-height: 1.1em;
  }
  .user_unregistered-text,
  .user_registered-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
  }
  .user_registered-login,
  .user_unregistered-signup {
    background-color: #BDBDBD;
    border: 1px solid $gray;
    border-radius: 20px;
    padding: 7px 30px;
    color: #000000;
    text-transform: uppercase;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.1em;
    &:hover {
      color: $smoky-black;
      background-color: $gray
    }

  }
  .secret_login {
    margin-top: 3.9em;
  }

  .secret_login2 {
    margin-top: 2.7em;
  }

    /**
     * Login and signup forms
     */
  .user_options-forms {
    position: absolute;

    top: 70.5%;

    left: 92px;
    width: calc(50% - 76px);
    min-height: 325px;
    background-color: $white;
    border-radius: $bdrds;
    box-shadow: 2px 0 15px rgba($black, .25);
    overflow: hidden;

    transform: translate3d(100%, -50%, 0);
    transition: transform .4s ease-in-out;

  }

  .user_forms-login {
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out
  }
  .forms {
    &_title {
      margin-bottom: 28px;

      text-transform: uppercase;
      color: $salmon;
      letter-spacing: .1rem;

      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: normal;

    }
    &_field {
      &:not(:last-of-type) {
        margin-bottom: 20px
      }
      &_field-input {
        //width: 100%;
        border-bottom: 1px solid $gray;
        padding: 6px 20px 6px 0;
        font-family: $ff;
        font-size: 1rem;
        font-weight: $ff-light;
        color: darken($gray, 30%);
        letter-spacing: .1rem;
        transition: border-color .2s ease-in-out;

        &:focus {
          border-color: darken($gray, 30%)
        }
      }
      .input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
        /* border-color: #08E8DE; */
        /* border-radius: 6px; */
        box-shadow: 0 0 0 0.125em rgba(8, 232, 222, .3);
        border-color: transparent;
      }
    }
    &_buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 26px;
      &-forgot {
        font-family: $ff;
        letter-spacing: .1rem;
        color: $gray;
        text-decoration: underline;
        transition: color .2s ease-in-out;
        &:hover {
          color: darken($gray, 10%)
        }
      }
      &-action {
        background-color: #08E8DE;

        //background-color: $salmon;
        border-radius: 20px;
        padding: 7px 30px;
        font-size: 1rem;
        font-family: $ff;
        font-weight: $ff-light;
        color: #000;
        text-transform: uppercase;
        letter-spacing: .1rem;
        transition: background-color .2s ease-in-out;

        border: none;
        cursor: pointer;
        &:hover {
          background-color: darken(#08E8DE, 10%);
        }
      }
    }
  }

  .input {
    background: #F2F2F2;
    border-radius: 20px;
    width: 15em;
  }

  .user_forms-signup,
  .user_forms-login {
    position: absolute;
    top: 33px;
    left: 40px;
    padding-top: .5em;

    width: calc(100% - 80px);

    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .5s ease-in-out;
  }

  .user_forms-signup {
    transform: translate3d(120px, 0, 0);
    .forms_buttons {
      justify-content: flex-start;
    }
  }

  .user_forms-login {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }


    /**
     * Triggers
     */
  .user_options-forms {
    &.bounceLeft {
      animation: bounceLeft 1s forwards;

      .user_forms-signup {
        animation: showSignUp 1s forwards
      }

      .user_forms-login {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(-120px, 0, 0);
      }

    }
    &.bounceRight {
      animation: bounceRight 1s forwards;
    }
  }



  //  /**
  //   * Responsive 990px
  //   */
  //@media screen and (max-width: 990px)
  //.user_options-forms
  //min-height: 350px
  //
  //.forms_buttons
  //flex-direction: column
  //
  //.user_forms-login
  //.forms_buttons-action
  //margin-top: 30px
  //
  //.user_forms-signup,
  //.user_forms-login
  //top: 40px
  //
  //.user_options-registered,
  //.user_options-unregistered
  //padding: 50px 45px

}

//
//.button_hb{
//  padding: 1.5rem 3rem;
//  text-transform: uppercase;
//  color: var(--uiButtonBgColorHover);
//
//  border-width: 2px;
//  border-style: solid;
//  border-color: var(--uiButtonBgColorHover);
//}
//
//.button_hb{
//  --uiButtonBgColorHover: var(--buttondBgColorHover);
//  position: relative;
//  overflow: hidden;
//  transition: color .5s ease-out;
//}
//
//.button_hb:before{
//  content: "";
//  background-color: var(--uiButtonBgColorHover);
//}
//
//.button_hb:focus{
//  outline: none;
//}
//
//.button_hb .button__icon, .button_hb:not(.button_hidden-text) .button__label{
//  position: relative;
//  z-index: 2;
//}
//
//
//
//.button_hb-type2:before{
//  width: 0;
//  height: 0;
//  padding: 50%;
//  border-radius: 50%;
//
//  position: absolute;
//  left: 50%;
//  top: 50%;
//
//  transform: translate3d(-50%, -50%, 0) scale(0);
//  transition: transform .15s ease-out;
//}
//
//.button_hb-type2:hover:before, .button_hb-type2:focus:before{
//  transition-duration: .3s;
//  transform: translate3d(-50%, -50%, 0) scale(1.5);
//}

