body {
  min-width: 1024px;
  overflow: auto;
}

img.ava {
  width: 100px;
  border-radius: 50%;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.m-b-1 {
  margin-bottom: 10px;
}

.m-b-2 {
  margin-bottom: 20px;
}

.m-b-3 {
  margin-bottom: 30px;
}
